<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Sign in to your account
    </h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form
      [formGroup]="loginForm"
      (input)="onFormChange()"
      (ngSubmit)="submitLogin()"
      class="space-y-6"
    >
      <div>
        <label
          for="login"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Login</label
        >
        <div class="mt-2">
          <input
            id="login"
            formControlName="login"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
        <p
          *ngIf="
            this.loginForm.get('login')?.invalid &&
            this.loginForm.get('login')?.touched
          "
        >
          <small class="text-red-500">Login is required</small>
        </p>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Password</label
          >
          <div class="text-sm"></div>
        </div>
        <div class="mt-2">
          <input
            id="password"
            formControlName="password"
            type="password"
            autocomplete="current-password"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
        <p
          *ngIf="
            this.loginForm.get('password')?.invalid &&
            this.loginForm.get('password')?.touched
          "
        >
          <small class="text-red-500"
            >Password is required (min. length = 8)</small
          >
        </p>
      </div>
      <p class="text-red-500" *ngIf="formError">{{ formError }}</p>
      <div>
        <button
                *ngIf="authService.isLoggedIn"
                (click)="submitLogin()"
          [disabled]="loginForm.invalid || !!formError"
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Sign in
        </button>
      </div>
    </form>
  </div>
  <div>
    <p class="mb-0">Don't have an account? <a routerLink="../registration" class="text-white-50 fw-bold">Sign Up</a></p>
  </div>
</div>
